.newsDetail {
    display: flex;
    flex-direction: row;
    max-width: 65%;
    padding: 5em 0 0 2em;
    gap: 2em;
    height: 100%;
}

.image{
    width: 440px;
    height: 320px;
}

.newsText {
    h1{
        font-size: 40px;
        line-height: 1.5;
    }
    h2{
        font-size: 24px;
        margin: 2em 0 1em 0;
    }
    .date{
        color: #999;
        margin: 1em 0 1em 0;
    }

    .fullContent {
        font-size: 16px;
        color: #fff;
        margin-bottom: 1em;
    }

    .paragraph {
        margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
    }
}

@media (max-width: 768px) {
    .newsDetail{
        flex-direction: column;
        max-width: 100%;
        padding: 0;
        gap: 1em;
    }
    .image{
        width: fit-content;
        max-height: 232px;
    }
    .newsText{
        padding: 0em 1em;
        h1 {
            font-size: 24px;
            line-height: 1;
        }
        h2 {
            font-size: 20px;
            margin: 1.5em 0 0.5em 0;
        }
    }
}